<a href="https://colab.research.google.com/github/TaiWow/Mini_Project/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Set-up
%load_ext sql
%sql sqlite://
import pandas as pd

In [ ]:
def get_punched(health, armor=0):
    damage = 50 - armor
    new_health = health - damage
    return new_health


def get_slashed(health, armor=0):
    damage = 100 - armor
    new_health = health - damage
    return new_health


# Don't touch below this line


def test(health, armor):
    print(f"Health: {health}, Armor: {armor}")
    print(f"Health after punch: {get_punched(health, armor)}")
    print("=====================================")
    print(f"Health: {health}, Armor: {armor}")
    print(f"Health after slash: {get_slashed(health, armor)}\n")
    print("=====================================")
    print(f"Health: {health}, Armor: no armor!")
    print(f"Health after slash: {get_slashed(health)}\n")
    print("=====================================")
    print(f"Health: {health}, Armor: no armor!")
    print(f"Health after punch: {get_punched(health)}")
    print("=====================================")


test(400, 5)
test(300, 3)
test(200, 1)

Health: 400, Armor: 5
Health after punch: 355
=====================================
Health: 400, Armor: 5
Health after slash: 305

=====================================
Health: 400, Armor: no armor!
Health after slash: 300

=====================================
Health: 400, Armor: no armor!
Health after punch: 350
=====================================
Health: 300, Armor: 3
Health after punch: 253
=====================================
Health: 300, Armor: 3
Health after slash: 203

=====================================
Health: 300, Armor: no armor!
Health after slash: 200

=====================================
Health: 300, Armor: no armor!
Health after punch: 250
=====================================
Health: 200, Armor: 1
Health after punch: 151
=====================================
Health: 200, Armor: 1
Health after slash: 101

=====================================
Health: 200, Armor: no armor!
Health after slash: 100

=====================================
Health: 200, Armor: no armor!
Health after punch: 150
=====================================

In [ ]:
%%sql
CREATE TABLE users (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER NOT NULL,
    country_code TEXT NOT NULL,
    username TEXT UNIQUE,
    password TEXT NOT NULL,
    is_admin BOOLEAN
);

In [ ]:
%%sql

INSERT INTO users (id, name, age, country_code, username, password, is_admin)
VALUES (1, 'David', 34, 'US', 'DavidDev', 'insertPractice', false);

INSERT INTO users (id, name, age, country_code, username, password, is_admin)
VALUES (2, 'Samantha', 29, 'BR', 'Sammy93', 'addingRecords!', false);

 * sqlite://
Done.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql
select * from users;

 * sqlite://
Done.

[(1, 'David', 34, 'US', 'DavidDev', 'insertPractice', 0),
 (2, 'Samantha', 29, 'BR', 'Sammy93', 'addingRecords!', 0)]